@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.logo {
    display: flex;
    align-items: center;
    width: 157px;
    height: 30px;
    margin-bottom: 24px;
}


.titulo {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

.subtitulo {
    font-weight: normal;
    width: 444px;
    font-size: 14px;
    margin-bottom: 40px;
    color: #525866;
}


.page-container {
    display: flex;
    /* um ao lado do outro */
     flex-direction: column;
    /*Muda o flex para colunas */
    align-items: center;
    /* Centralizar horizontalmente */
    justify-content: center;
    /* Centralizar verticalmente */
    background-color: #F3F5F8;
    width: 100%;
    height: 100vh;
}

.login-container {

    width: 540px;
    height: 630px;
    display: flex;
    /*Ativar o flex */
    flex-direction: column;
    /*Muda o flex para colunas */
    align-items: center;
    /* Centralizar horizontalmente */
    justify-content: center;
    /* Centralizar verticalmente */
    background-color: #FFFFFF;
    border: 1px solid #E0E4EA;
    border-radius: 12px;
    padding: 48px;

}

.title{
    width: 444px;
    text-align: start;
    font-size: 14px;
    font-weight: medium;
    margin-bottom: 6px;
}

.inpt {

    padding: 12px;
    width: 444px;
    border: 1px solid #CACFD8;
    border-radius: 10px;
    margin-bottom: 16px;
}


.info{
    width: 444px;
    display: flex;
    align-items: center;
    color: #525866;
    margin-top: 6px;
    margin-bottom: 16px;
}

.info h4{
font-size: 12px;
 font-weight: normal;
}

.info-circle{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.button {
    padding: 12px;
    font-size: 16px;
    background-color: #335CFF;
    color: #FFFFFF;
    width: 444px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}


.linha-horizontal{
width:444px ;
margin-top: 16px;
margin-bottom: 16px;
border: 1px solid #E0E4EA;

}

.info2{
    display: flex;
}

.already{
    font-size: 14px;
    font-weight: normal;
    color: #525866;
}

.login2 {
    font-size: 14px;
}

.error-message {

    color: red;
    font-size: 13px;
    transform: translateY(-12px) translateX(-90px);

}

.error-messagepassword {

    color: red;
    font-size: 13px;
    transform: translateY(-12px) translateX(-90px);

}

.approvedMessage {

    color: black;
    font-size: 13px;
    transform: translateY(-12px) translateX(94px);

}

.link-login {

    cursor: pointer;
    text-decoration: underline;
    color: black;
    padding: 16px;
}

.barra {

    border: none;
    background-color: transparent;
    width: 377px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 10px;

}

::ng-deep body.dark-mode .page-container  {
    background-color: #2B303B !important;
} 

::ng-deep body.dark-mode .login-container {
    background-color: #0E121B !important;
} 

::ng-deep body.dark-mode .titulo {
    color: #FFFFFF !important;
} 

::ng-deep body.dark-mode .subtitulo {
    color: #FFFFFF !important;
} 

::ng-deep body.dark-mode .inpt {
    background-color: #0E121B !important;
    color: #FFFFFF;
} 

::ng-deep body.dark-mode .title {
    color: #FFFFFF; 
} 

