<main class="page-container">
  <div class="login-container" [formGroup]="registerForm">

    <div>
      <img class="logo" src="imgs/logosenainotes.png" alt="logo senai notes" />
    </div>

    <h1 class="titulo">Create Your Account</h1>
    <h5 class="subtitulo">Sign up to start organizing your notes and boost your productivity.</h5>


    <a class="title">Seu nome</a>
    <input class="inpt" type="name" placeholder="Nome" formControlName="name" />

    <a class="title">Email Address</a>
    <input class="inpt" type="email" placeholder="email@example.com" formControlName="email" />

    <a class="title">Password</a>
    <input class="inpt" type="password" formControlName="password" />

    <div class="info">
      <img class="info-circle" src="imgs/info circle.png" alt="icone informacao" />
      <h4>At least 8 characters</h4>
    </div>

 
    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
    <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>

    

    <button class="button" (click)="onSignUp()">Sign Up</button>

    <div class="linha-horizontal"></div>

    <div class="info2">
      <a class="already">Already have an account?</a>
      <a class="login2" href="/login">Login</a>
    </div>
    
    <button class="barra"(click)="ligarDesligarDarkMode()">
                <i class="fa-solid fa-moon">

                </i>dark mode</button>
    
  </div>
</main>
